.alinha-esq {
  text-align: left;
  border: 1px dashed #ccc;
  padding: 6px;
}

.alinha-centro {
  text-align: center;
  border: 1px dashed #ccc;
  padding: 6px;
}

.alinha-dir {
  text-align: right;
  border: 1px dashed #ccc;
  padding: 6px;
}
